<div class="card card-body form-sm">
<h1 class="display-4">Update Supply</h1>
<br>

<form method="POST" action="">
    <div class="form-group">
        <label for="name">Item Name</label>
        <input type="text" name="name" class="form-control" value="{{item.item_name}}">
    </div>
    <div class="form-group" style="width:40%">
        <label for="type">Category</label>
        <select name="type" id="type" class="form-control">
            {{#each categories}}
            <option class="cat-option" value="{{this.category_no}}" {{#if this.selected}}selected{{/if}}>{{this.category_name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label for="quantity">Next Order Quantity</label>
        {{#if next_orders}}
        <input type="number" name="quantity" class="form-control" value="{{next_orders}}" style="width:40%">
        {{else}}
        <input type="number" name="quantity" class="form-control" value="" style="width:40%" placeholder="~Not generated yet~" disabled>
        {{/if}}
    </div>
    <br>
    <a href="/retrieveSupplies" class="btn btn-danger">Discard Changes</a>
    <input type="submit" value="Submit Changes" class="btn btn-success">
</form>
</div>

<script>
    function insertVal() {
        var options = document.getElementsByClassName('cat-option');

    }
</script>
