<h1 class="display-4">Your Cart</h1>
<br>
<!-- Rewards button -->
<div class="rewards-tab nav-item dropdown float-right">
    <a class="btn btn-primary nav-link dropdown-toggle float-right" href="#" id="rewardsTab" data-toggle="dropdown">
      <i class="fa fa-gift" aria-hidden="true"></i> Claim Rewards!</a>
    <div class="dropdown-menu dropdown-menu-right rewards-container rewards-container" id="rewardsTab" style="clear:right;">
        {{#if user}}
        <h3>Your Rewards</h3>

        {{#if prizes_list}}
        <p>Click on claim to add your reward to cart</p>
        <hr style="margin-bottom: 0;">
        <table class="rewards-list">
          {{#each prizes_list}}
          <tr>
            <td><strong>Day {{this.day_no}}</strong></td>
            <td>
              {{#each this.prizes}}
              {{this}}
              <br>
              {{/each}}
            </td>
            <td><a class="btn btn-success" style="margin-left:15px;" href="/user/rewards/add-reward-to-cart/{{this.day_no}}">Claim!</a></td>
            </td>
          </tr>
          {{/each}}
        </table>
        {{else}}
        <p>You do not have any claimable rewards</p>
        {{/if}}

        {{else}}
        <h3>You are not signed in</h3>
        <p>Log in to your account or sign up for a new account to partake in rewards</p>
        <a class="btn btn-primary sign" href="">Login</a>
        <a class="btn btn-outline-secondary sign" href="">Sign Up</a>
        {{/if}}
        <a class="btn btn-secondary button-close" href="#" id="rewardsTab2" data-toggle="collapse">Close</a>
    </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th width="50%">Item</th>
      <th width="50%">Price</th>
      <th width="50%">Quantity</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each cart}}
      <tr>
          <td width="50%">{{this.cart_item_name}}</td>
          <td width="50%">{{this.cart_item_price}}</td>
          <td width="50%">
            <button id="minus">-</button>{{this.cart_item_quantity}}<button id="plus">+</button>
          </td>           
          <td><a href="/user/cart/delete/{{this.cart_item_name}}" class="btn btn-danger">Delete</a></td> 
      </tr>
    {{/each}}
  </tbody>
</table>    

{{#if cart}}
  <div style="float: right;">
    <pre><p>Subtotal            S$ {{subtotal}}</p></pre>
    <pre><p>Delivery Fee        S$ {{deliveryFee}}</p></pre>
    <pre><P><b>Total               S$ {{total}}</b></P></pre>
    <a href="/user/cart/confirmOrder" class="btn btn-primary" style="float: right;">Checkout</a>
  </div>
{{else}}
<div style="text-align: center;">
  <h2>You have no items in you cart.</h2>
  <a href="/user/menu" class="btn btn-success">ADD SOME ITEMS</a>
</div>

{{/if}}