<h1 class="display-4">Your Cart</h1>
<br>
<ol>
    {{#each order_list}}
    <li>
        <div>
            <h3>{{this.food}}</h3>
            <p>${{this.price}}</p>
            <a class="btn btn-danger" href="">Delete</a>
        </div>
    </li>
    <hr>
    {{/each}}
    {{#each order_rewards_list}}
    <li>
        <div>
            <h3>Reward Item</h3>
            <h3>{{this.food_primary}}</h3>
            {{#if this.food_secondary}}
            <h3>{{this.food_secondary}}</h3>
            {{/if}}
            <p>FREE</p>
            <a class="btn btn-danger" href="/user/rewards/remove-rewards-from-cart/{{this.day_no}}">Delete</a>
        </div>
    </li>
    {{/each}}
    <br style="padding: 200px;">
    <div>
        <p>Subtotal: ${{subtotal}}</p>
        <p>Delivery fee: ${{delivery_price}}</p>
        <p>Total: ${{total}}</p>
    </div>
    <a class="btn btn-success" href="/user/cart/confirmOrder">Checkout</a>
</ol>