{{!-- Displays div with {{error}} only if error is valid object --}}

{{#if error}}
    <div class="alert alert-danger">{{error}}</div>
{{/if}}


{{!-- Displays dive with {{error_msg }} if error_msg is valid--}}

{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}