{{!-- Displays div with {{error}} only if error is valid object --}}

{{#if error}}
<<<<<<< HEAD
    <div class="alert alert-danger">{{error}}</div>
=======
    <div class="alert alert-success">{{error}}</div>
>>>>>>> 5b0384f595249e75eb917ceca5583bf00613e5a7
{{/if}}


{{!-- Displays dive with {{error_msg }} if error_msg is valid--}}

{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}