<h1 class="display-4">Your Cart</h1>
<br>
<ol>
    {{#each order_list}}
    <li>
        <div>
            <h3>{{this.food}}</h3>
            <p>${{this.price}}</p>
            <a class="btn btn-danger" href="">Delete</a>
        </div>
    </li>
    <hr>
    {{/each}}
    {{#each order_rewards_list}}
    <li>
        <div>
            <h3>{{this}}</h3>
            <p>FREE</p>
        </div>
    </li>
    {{/each}}
    <br style="padding: 200px;">
    <div>
        <p>Subtotal: ${{subtotal}}</p>
        <p>Delivery fee: ${{delivery_price}}</p>
        <p>Total: ${{total}}</p>
    </div>
    <a class="btn btn-success" href="/confirmOrder">Checkout</a>
</ol>