<!--Progress Table-->
<h1 class="display-4">Reward Progress</h1>
{{#unless user}}
<div class="norewards-container">
    <div>
        <p class="no-rewards">You need a member account to partake and view rewards</p>
        <div class="sign-in">
            <h4>Login or sign up for membership</h4>
            <a class="btn btn-primary sign" href="/auth/login">Login</a>
            <br>
            <a class="btn btn-outline-secondary sign" href="/auth/createUser">Sign up for membership</a>
        </div>
    </div>
</div>
{{/unless}}
<div>
    <p style="font-size:20px;">You have made <strong>{{ total_orders }}</strong> orders in total.</p>
</div>
<br>

<div id="rewardsUser" class="rewards-table-container" style="width: 100%;">
<table>
    <!-- Rows that user has progressed -->
    <tbody>
    {{#each user_prizes}}
        <tr>
            {{#for 0 4}}
            <td>
                <div class="normal normal-day-cell">
                    <h3>Day </h3>
                    <img class="completed-icon" src="DayCompleted.png" alt="Completed">
                </div>
            </td>
            {{/for}}
            <td>
                <a href="/user/menu/menuPublic"><div class="normal reward reward-day-cell">
                    <h3>Day </h3>
                    <h5>{{ this.food_name }}</h5>
                    <h5>{{ this.food_name2 }}</h5>
                    <h5>{{ this.food_name3 }}</h5>
                    <h5>{{ this.food_name4 }}</h5>
                    <img class="completed-icon" src="DayCompleted.png" alt="Completed">
                    {{#if this.claimed}}
                    <p>Click to order and claim it!</p>
                    {{else}}
                    <p>Prize claimed</p>
                    {{/if}}
                </div></a>
            </td>
        </tr>
    {{/each}}
        <!-- Final row with reached days -->
        <tr>
            <!-- Reached cells -->
            {{#for 0 leftover.Reached}}
            <td>
                <div class="normal normal-day-cell">
                    <h3>Day </h3>
                    <img class="completed-icon" src="DayCompleted.png" alt="">
                </div>
            </td>
            {{/for}}
            <!-- Not reached cells -->
            {{#for 0 leftover.Unreached}}
            <td>
                <div class="normal locked-normal-day-cell">
                    <h3>Day </h3>
                </div>
            </td>
            {{/for}}
            <td>
                <div class="reward locked-reward-day-cell">
                    <h3>Day </h3>
                    {{#if middle.food_name}}
                    <h5>{{ middle.food_name }}</h5>
                    <h5>{{ middle.food_name2 }}</h5>
                    <h5>{{ middle.food_name3 }}</h5>
                    <h5>{{ middle.food_name4 }}</h5>
                    {{else}}
                    <h4>(Not specified yet)</h4>
                    {{/if}}
                    <p>Not claimable yet</p>
                </div>
            </td>
        </tr>

        <!-- Rows that do not covers all cells in the row -->
        {{#each not_reached}}
        <tr>
            {{#for 0 4}}
            <td>
                <div class="normal locked-normal-day-cell">
                    <h3>Day </h3>
                </div>
            </td>
            {{/for}}
            <td>
                <div class="reward locked-reward-day-cell">
                    <h3>Day </h3>
                    {{#if this.food_name}}
                    <h5>{{ this.food_name }}</h5>
                    <h5>{{ this.food_name2 }}</h5>
                    <h5>{{ this.food_name3 }}</h5>
                    <h5>{{ this.food_name4 }}</h5>
                    {{else}}
                    <h4>(Not specified yet)</h4>
                    {{/if}}
                    <p>Not claimable yet</p>
                </div>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>

<script>
    function assignDay() {
        for (i=0; i<60; i++) {
            document.getElementsByTagName('h3')[i].innerText = "Day "+(i+1);
        }
    }
    assignDay();
</script>
    <!-- Parts that users has yet to reach -->
    <!--{% set loopDeduct = 60 - ns.daysAccounted %}
    {% for i in range(0, loopDeduct, 5) %}
    <tr>
    
            <td>
                <div class="normal locked-normal-day-cell">
                    <h3>Day </h3>
                </div>
            </td>
        {% endfor %}
        {% set ns.daysAccounted = ns.daysAccounted + 1 %}
        <td>
            <div class="reward locked-reward-day-cell">
                <h3>Day </h3>
                <h4>{% if prizes.get(ns.daysAccounted) != None %}
                   
                    {% else %}
                    (Item not specified yet)
                    {% endif %}</h4>
                <p>Not claimable yet</p>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tfoot>
</table>
</div>
{% endblock %}
