<h1 class="display-4">Rewards List</h1>
<br>

<div class="row rewards-table-container" style="width:85%;">
  <table class="container-fluid">
    <tr class="rewards-row">
    {{#each prizes_list.[0]}}
      {{#if this.food_primary}}
      <td>
        <div class="normal normal-day-cell" style="height:220px;">
        <h3>Day {{this.day_no}}</h3>
        <h4>{{ this.food_primary }}</h4>
        {{#if this.food_secondary}} <h4>{{ this.food_secondary }}</h4> {{else}}<h4> </h4>{{/if}}
        <a class="btn btn-warning admin-edit" href="edit/"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
        </div>
      </td>
      {{else}}
      <td>
        <div class="normal normal-day-cell" style="height:220px;">
        <h3>Day {{this.day_no}}</h3>
        <h4 class="text-danger">(Item(s) not specified)</h4>
        <h4> </h4>
        <a class="btn btn-success admin-edit" href="edit/"><i class="fa fa-plus" aria-hidden="true"></i> Add</a>
        </div>
      </td>
      {{/if}}
    {{/each}}
    </tr>
    <tr class="rewards-row">
    {{#each prizes_list.[1]}}
      {{#if this.food_primary}}
      <td>
        <div class="normal normal-day-cell" style="height:220px;">
        <h3>Day {{this.day_no}}</h3>
        <h4>{{ this.food_primary }}</h4>
        {{#if this.food_secondary}} <h4>{{ this.food_secondary }}</h4> {{else}}<h4> </h4>{{/if}}
        <a class="btn btn-warning admin-edit" href="edit/"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
        </div>
      </td>
      {{else}}
      <td>
        <div class="normal normal-day-cell" style="height:220px;">
        <h3>Day {{this.day_no}}</h3>
        <h4 class="text-danger">(Item(s) not specified)</h4>
        <h4> </h4>
        <a class="btn btn-success admin-edit" href="edit/"><i class="fa fa-plus" aria-hidden="true"></i> Add</a>
        </div>
      </td>
      {{/if}}
    {{/each}}
    </tr>
    <tr class="rewards-row">
    {{#each prizes_list.[2]}}
      {{#if this.food_primary}}
      <td>
        <div class="normal normal-day-cell" style="height:220px;">
        <h3>Day {{this.day_no}}</h3>
        <h4>{{ this.food_primary }}</h4>
        {{#if this.food_secondary}} <h4>{{ this.food_secondary }}</h4> {{else}}<h4> </h4>{{/if}}
        <a class="btn btn-warning admin-edit" href="edit/"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
        </div>
      </td>
      {{else}}
      <td>
        <div class="normal normal-day-cell" style="height:220px;">
        <h3>Day {{this.day_no}}</h3>
        <h4 class="text-danger">(Item(s) not specified)</h4>
        <h4> </h4>
        <a class="btn btn-success admin-edit" href="edit/"><i class="fa fa-plus" aria-hidden="true"></i> Add</a>
        </div>
      </td>
      {{/if}}
    {{/each}}
    </tr>

  </table>
</div>

<script>
  function assignLink() {
    var hrefs = document.getElementsByClassName("admin-edit");
    for (i=0; i<12; i++) {
      hrefs[i].href += (i+1)*5;
    }
  }
  assignLink();
</script>
