<h1 class="display-4">Rewards List</h1>
<br>

<div class="row rewards-table-container" style="width:85%;">
  <table class="container-fluid">
    <!--<tr>
      {{#for 1 6}}
      <td>
        <div class="normal normal-day-cell" style="height:220px;">
          <h3>Day j*10+i*5</h3>
          {% if prizes_list.get(j*10+i*5) != None  %}
          {}
          <h4>{ prizes_list[j*10+i*5].get_item_name() }</h4>
          <p>Food ID:{ prizes_list[j*10+i*5].get_menu_id() }</p>
          <p>Supplies Required: { prizes_list[j*10+i*5].get_description() }</p>
          <a class="btn btn-secondary admin-edit" href="/rewardsAdmin/{j*10+i*5}">Edit Reward</a>
          <br>
          {% else %}
          <h4 class="text-danger">(Item not specified)</h4>
          <p>Food ID: None</p>
          <p>Supplies Required: None</p>
          <a class="btn btn-warning admin-edit" href="/rewardsAdmin/{j*10+i*5}">Add Reward</a>
          {% endif %}
        </div>
      </td>
      {{/for}}
    </tr>
 -->
    <tr class="rewards-row">
      {{#each prizes_list.[0]}}
      {{#if this}}
      <td>
        <div class="normal normal-day-cell" style="height:220px;">
        <h3>Day </h3>
        <h4>{{ this }}</h4>
        <a class="btn btn-warning admin-edit" href="editRewards/">Edit Reward</a>
        </div>
      </td>
      {{else}}
      <td>
        <div class="normal normal-day-cell" style="height:220px;">
        <h3>Day </h3>
        <h4 class="text-danger">(Item(s) not specified)</h4>
        <a class="btn btn-secondary admin-edit" href="editRewards/">Edit Reward</a>
        </div>
      </td>
      {{/if}}
      {{/each}}
    </tr>
    <tr class="rewards-row">
      {{#each prizes_list.[1]}}
      {{#if this}}
      <td>
        <div class="normal normal-day-cell" style="height:220px;">
        <h3>Day </h3>
        <h4>{{ this }}</h4>
        <a class="btn btn-warning admin-edit" href="editRewards/">Edit Reward</a>
        </div>
      </td>
      {{else}}
      <td>
        <div class="normal normal-day-cell" style="height:220px;">
        <h3>Day </h3>
        <h4 class="text-danger">(Item(s) not specified)</h4>
        <a class="btn btn-secondary admin-edit" href="editRewards/">Edit Reward</a>
        </div>
      </td>
      {{/if}}
       {{/each}}
    </tr>
    <tr class="rewards-row">
      {{#each prizes_list.[2]}}
      {{#if this}}
      <td>
        <div class="normal normal-day-cell" style="height:220px;">
        <h3>Day </h3>
        <h4>{{ this }}</h4>
        <a class="btn btn-warning admin-edit" href="editRewards/">Edit Reward</a>
        </div>
      </td>
      {{else}}
      <td>
        <div class="normal normal-day-cell" style="height:220px;">
        <h3>Day </h3>
        <h4 class="text-danger">(Item(s) not specified)</h4>
        <a class="btn btn-secondary admin-edit" href="editRewards/">Edit Reward</a>
        </div>
      </td>
      {{/if}}
      {{/each}}
    </tr>

  </table>
</div>

<script>
  function assignval() {
    var count = 5;
    var tr = document.getElementsByClassName('rewards-row');
    for (i=0; i<3; i++) {
      var td = tr[i].getElementsByTagName('td');
      for (j=0; j<4; j++) {
        var tdDiv = td[j].getElementsByClassName('normal')[0];
        tdDiv.getElementsByTagName('h3')[0].innerText += " "+count;
        tdDiv.getElementsByTagName('a')[0].href += count;
        count += 5
      }
    }
  }
  assignval();
</script>
