<div class="form-sm">
<h1 class="display-4">Create Menu (Admin)</h1>

<form method="POST" action="">
    <div class="form-group">
        <label for="name">Item name</label>
        <input type="text" class="form-control" name="Name" value="" required>
    </div>
    <div class="form-group">
        <label for="name">Price</label>
        <input type="text" class="form-control" name="Price" value="" required>
    </div>
    <div class="form-group" style="width:40%;">
        <label for="type">Category</label>
        <select class="form-control" name="type" id="chooseCategory" required>
            <option value="disabled-option" disabled selected value>- Select category -</option>
            {{#each categories}}
            <option class="cat-option" value="{{this.category_no}}">{{this.category_name}}</option>
            {{/each}}
        </select>
    </div>
    <div>
        <div class="form-group">
        <label for="name">Description</label>
        <input type="text" class="form-control" name="Description" value="" required>  
        </div>
    </div>
    <div class="form-group">
        <label for="name">Image</label>
        <input type="text" class="form-control" name="image" value="">  
    </div>
    <!-- Checkboxes for selecting food on the menu that needs the new supply --> 
    <div class="form-group">
        <label>Food required</label>
        <table>
        {{#each checkboxes_list}}
            <tr class="category-heading">
                <td colspan="5">
                    <p><strong>{{ @key }}</strong></p>
                </td>
            </tr>
            {{#each this}}
            <tr>
                {{#each this}}
                <td>
                    <label><input type="checkbox" name="Ingredients" value="{{this.item_name}}"> {{this.item_name}}&nbsp&nbsp</label>
                </td>
                {{/each}}  
            </tr>
            {{/each}}
        {{/each}}
        </table>
    </div>

    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
</div>