<style>
  td {
    font-size:20px;
  }
  td img {
    height:200px;
    width:300px;
  }
</style>

<h1 class="display-4">Menu</h1>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  {{!-- filler nav tab --}}
  <li class="active">
      <a class="nav-link active" data-toggle="tab" href="#CC">cc</a>
  </li>
  {{#each categories}}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#C{{this.category_no}}">{{this.category_name}}</a>
    </li>
  {{/each}}
</ul>

<!-- Rewards button -->
<div class="rewards-tab nav-item dropdown float-right">
    <a class="btn btn-primary nav-link dropdown-toggle float-right" href="#" id="rewardsTab" data-toggle="dropdown">
      <i class="fa fa-gift" aria-hidden="true"></i> Claim Rewards!</a>
    <div class="dropdown-menu dropdown-menu-right rewards-container rewards-container" id="rewardsTab" style="clear:right;">
        {{#if user}}
        <h3>Your Rewards</h3>

        {{#if prizes_list}}
        <p>Click on claim to add your reward to cart</p>
        <table class="rewards-list">
            {{#each prizes_list}}
            <tr>
              <td>{{ this.food_primary }}</td>
              {{#if this.food_secondary}}
              <td>{{ this.food_secondary }}</td>
              <td rowspan="2">
              {{else}}
              <td> </td>
              <td>
              {{/if}}
              <a class="btn btn-success" style="margin-left:15px;" href="/user/rewards/add-reward-to-cart/{{this.day_no}}">Claim</a>
              </td>
            </tr>
            <br>
            {{/each}}
        </table>
        {{else}}
        <p>You do not have any claimable rewards</p>
        {{/if}}

        {{else}}
        <h3>You are not signed in</h3>
        <p>Log in to your account or sign up for a new account to partake in rewards</p>
        <a class="btn btn-primary sign" href="">Login</a>
        <a class="btn btn-outline-secondary sign" href="">Sign Up</a>
        {{/if}}
        <a class="btn btn-secondary button-close" href="#" id="rewardsTab2" data-toggle="collapse">Close</a>
    </div>
</div>

<!-- Tab panes -->
{{!-- filler category --}}
<div class="tab-content">
  <div class="tab-pane container-fluid active" id="CC">
    <br>
    <br>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th width="50%">Item</th>
            <th width="40%">Price</th>
            <th width="50%">Description</th>
            <th width="50%">Ingredients</th>
          </tr>
        </thead>
        <tbody>
        {{#each items}}
          {{#ifc this.category_no '==' 0}}
            <tr>
              <td><img src=""></td>
              <td>{{this.item_name}}</td>
              <td>{{this.item_price}}</td>
              <td>{{this.item_description}}</td>
              <td>{{this.item_ingredients}}</td>
              <td><a href="/user/cart/addToCart/{{this.item_name}}" class="btn btn-warning">Add to cart</a></td>
            </tr>
          {{/ifc}}
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{#each categories}}
<div class="tab-pane container-fluid" id="C{{this.category_no}}"> 
    <br>
    <br>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th width="50%">Item</th>
            <th width="40%">Price</th>
            <th width="50%">Description</th>
            <th width="50%">Ingredients</th>
          </tr>
        </thead>
        <tbody>
        {{#each ../items}}
          {{#ifc this.category_no '==' ../this.category_no}}
  
            <tr>
              <td><img src=""></td>
              <td>{{this.item_name}}</td>
              <td>{{this.item_price}}</td>
              <td>{{this.item_description}}</td>
              <td>{{this.item_ingredients}}</td>
              <td><a href="/user/cart/addToCart/{{this.item_name}}" class="btn btn-warning">Add to cart</a></td>
          {{/ifc}}
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  {{/each}}

</div>