<style>
  td {
    font-size:20px;
  }
  td img {
    height:200px;
    width:300px;
  }

  #create_buttons {
    text-align: right;
    padding-bottom: 10px;

  }
</style>

<h1 class="display-4">Menu</h1>
<div id="create_buttons">
  <a href="/admin/menu/create/" class="btn btn-warning">Create Menu Item</a>
  <a href="/admin/menu/edit/categories/" class="btn btn-primary">Create Menu Category</a>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  {{!-- filler nav tab --}}
  <li class="active" style="display: none;">
      <a class="nav-link active" data-toggle="tab" href="#CC">cc</a>
  </li>
  {{#each categories}}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#C{{this.category_no}}">{{this.category_name}}</a>
    </li>
  {{/each}}
</ul>

<!-- Tab panes -->
{{!-- filler category --}}
<div class="tab-content">
  <div class="tab-pane container-fluid active" id="CC" style="display: none;">
    <br>
    <br>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th width="50%">Item</th>
            <th width="40%">Price</th>
            <th width="50%">Description</th>
            <th width="50%">Ingredients</th>
          </tr>
        </thead>
        <tbody>
        {{#each items}}
          {{#ifc this.category_no '==' 0}}
            <tr>
              <td><img src=""></td>
              <td>{{this.item_name}}</td>
              <td>{{this.item_price}}</td>
              <td>{{this.item_description}}</td>
              <td>{{this.item_ingredients}}</td>
              <td></td>

              <td></td>
              <td><a href="/admin/menu/update/{{this.item_name}}" class="btn btn-warning">Edit</a></td>
              <td><a href="/admin/menu/delete/{{this.item_name}}" class="btn btn-danger">Delete</a></td>
            </tr>
          {{/ifc}}
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{#each categories}}
<div class="tab-pane container-fluid" id="C{{this.category_no}}"> 
    <br>
    <br>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th width="50%">Item</th>
            <th width="40%">Price</th>
            <th width="50%">Description</th>
            <th width="50%">Ingredients</th>
          </tr>
        </thead>
        <tbody>
        {{#each ../items}}
          {{#ifc this.category_no '==' ../this.category_no}}
  
            <tr>
              <td><img src=""></td>
              <td>{{this.item_name}}</td>
              <td>{{this.item_price}}</td>
              <td>{{this.item_description}}</td>
              <td>{{this.item_ingredients}}</td>
              <td></td>

              <td></td>
              <td><a href="/admin/menu/update/{{this.item_name}}" class="btn btn-warning">Edit</a></td>
              <td><a href="/admin/menu/delete/{{this.item_name}}" class="btn btn-danger">Delete</a></td>
            </tr>
          {{/ifc}}
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  {{/each}}

</div>