<style>
  td {
    font-size:20px;
  }
  td img {
    height:200px;
    width:300px;
  }
</style>

<h1 class="display-4">Menu</h1>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  {{!-- filler nav tab --}}
  <li class="active">
      <a class="nav-link active" data-toggle="tab" href="#CC">cc</a>
  </li>
  {{#each categories}}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" data-bs-target="#{{this.category_no}}">{{this.category_name}}</a>
    </li>
  {{/each}}
</ul>

<!-- Tab panes -->
{{!-- filler category --}}
<div class="tab-content">
  <div class="tab-pane container-fluid active" id="1">
    <br>
    <br>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th width="50%">Item</th>
            <th width="40%">Price</th>
            <th width="50%">Description</th>
            <th width="50%">Ingredients</th>
          </tr>
        </thead>
        <tbody>
        {{#each items}}
          {{#ifc this.category_no '==' 0}}
            <tr>
              <td><img src=""></td>
              <td>{{this.item_name}}</td>
              <td>{{this.item_price}}</td>
              <td>{{this.item_description}}</td>
              <td>{{this.item_ingredients}}</td>
              <td><a href="/user/cart/addToCart/{{this.item_name}}" class="btn btn-warning">Add to cart</a></td>
            </tr>
          {{/ifc}}
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{#each categories}}
  {{!-- this part not working --}}
  Category: {{this.category_name}}
  <div class="tab-pane container-fluid active" id="{{this.category_no}}"> 
    <br>
    <br>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th width="50%">Item</th>
            <th width="40%">Price</th>
            <th width="50%">Description</th>
            <th width="50%">Ingredients</th>
          </tr>
        </thead>
        <tbody>
        {{#each ../items}}
          {{#ifc this.category_no '==' ../this.category_no}}
  
            <tr>
              <td><img src=""></td>
              <td>{{this.item_name}}</td>
              <td>{{this.item_price}}</td>
              <td>{{this.item_description}}</td>
              <td>{{this.item_ingredients}}</td>
              <td><a href="/user/cart/addToCart/{{this.item_name}}" class="btn btn-warning">Add to cart</a></td>
            </tr>
          {{/ifc}}
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  {{/each}}

</div>