<style>
  td {
    font-size:20px;
  }
  td img {
    height:200px;
    width:300px;
  }
</style>

<h1 class="display-4" style="inline-block">Menu</h1>
<a href="/user/cart" style="float:right;" class="btn btn-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg></a>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  {{!-- filler nav tab --}}
  <li class="active" style="display: none;">
      <a class="nav-link active" data-toggle="tab" href="#CC">cc</a>
  </li>
  {{#each categories}}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#C{{this.category_no}}">{{this.category_name}}</a>
    </li>
  {{/each}}
</ul>

<!-- Tab panes -->
{{!-- filler category --}}
<div class="tab-content">
  <div class="tab-pane container-fluid active" id="CC" style="display: none;">
    <br>
    <br>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th width="50%">Item</th>
            <th width="40%">Price</th>
            <th width="50%">Description</th>
            <th width="50%">Ingredients</th>
          </tr>
        </thead>
        <tbody>
        {{#each items}}
          {{#ifc this.category_no '==' 0}}
            <tr>
              <td><img src=""></td>
              <td>{{this.item_name}}</td>
              <td>{{this.item_price}}</td>
              <td>{{this.item_description}}</td>
              <td>{{this.item_ingredients}}</td>
              <td><a href="/user/cart/addToCart/{{this.item_name}}" class="btn btn-warning">Add to cart</a></td>
            </tr>
          {{/ifc}}
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{#each categories}}
<div class="tab-pane container-fluid" id="C{{this.category_no}}"> 
    <br>
    <br>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th width="50%">Item</th>
            <th width="40%">Price</th>
            <th width="50%">Description</th>
            <th width="50%">Ingredients</th>
          </tr>
        </thead>
        <tbody>
        {{#each ../items}}
          {{#ifc this.category_no '==' ../this.category_no}}
  
            <tr>
              <td><img src=""></td>
              <td>{{this.item_name}}</td>
              <td>{{this.item_price}}</td>
              <td>{{this.item_description}}</td>
              <td>{{this.item_ingredients}}</td>
              <td><a href="/user/cart/addToCart/{{this.item_name}}" class="btn btn-warning">Add to cart</a></td>
          {{/ifc}}
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  {{/each}}

</div>