<style>
  td {
    font-size:20px;
  }
  td img {
    height:200px;
    width:300px;
  }
</style>

<h1 class="display-4">Menu</h1>
<div class="text-right"><a href="/admin/menu/create/" class="btn btn-primary">Create Menu Item</a></div>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active">
    <a class="nav-link active" data-toggle="tab" href="#CBB">Chargrilled Beef Burger</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#PAB">Premium Angus Beef</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#CCS">Chargrilled Chicken Sandwich</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#SID">Sides</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#SAL">Salad</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container-fluid active" id="CBB">
    <br>
    <br>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th width="50%">Item</th>
            <th width="40%">Price</th>
            <th width="50%">Description</th>
            <th width="50%">Ingredients</th>
          </tr>
        </thead>
        <tbody>
        {{#each items}}
          {{#ifc this.item_course '==' 'CBB'}}
            <tr>
              <td><img src=""></td>
              <td>{{this.item_name}}</td>
              <td>{{this.item_price}}</td>
              <td>{{this.item_description}}</td>
              <td>{{this.item_ingredients}}</td>
              <td></td>

              <td></td>
              <td><a href="/admin/menu/update/{{this.item_name}}" class="btn btn-warning">Edit</a></td>
              <td><a href="/admin/menu/delete/{{this.item_name}}" class="btn btn-danger">Delete</a></td>
            </tr>
          {{/ifc}}
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  <div class="tab-pane container-fluid" id="PAB">
    <br>
    <br>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th width="50%">Item</th>
            <th width="40%">Price</th>
            <th width="50%">Description</th>
            <th width="50%">Ingredients</th>
          </tr>
        </thead>
        <tbody>
        {{#each items}}
          {{#ifc this.item_course '==' 'PAB'}}
            <tr>
              <td><img src=""></td>
              <td>{{this.item_name}}</td>
              <td>{{this.item_price}}</td>
              <td>{{this.item_description}}</td>
              <td>{{this.item_ingredients}}</td>
              <td></td>

              <td></td>
              <td><a href="/admin/menu/update/{{this.item_name}}" class="btn btn-warning">Edit</a></td>
              <td><a href="/admin/menu/delete/{{this.item_name}}" class="btn btn-danger">Delete</a></td>
            </tr>
          {{/ifc}}
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  <div class="tab-pane container-fluid" id="CCS">
    <br>
    <br>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th width="50%">Item</th>
            <th width="40%">Price</th>
            <th width="50%">Description</th>
            <th width="50%">Ingredients</th>
          </tr>
        </thead>
        <tbody>
        {{#each items}}
          {{#ifc this.item_course '==' 'CCS'}}
            <tr>
              <td><img src=""></td>
              <td>{{this.item_name}}</td>
              <td>{{this.item_price}}</td>
              <td>{{this.item_description}}</td>
              <td>{{this.item_ingredients}}</td>
              <td></td>

              <td></td>
              <td><a href="/admin/menu/update/{{this.item_name}}" class="btn btn-warning">Edit</a></td>
              <td><a href="/admin/menu/delete/{{this.item_name}}" class="btn btn-danger">Delete</a></td>
            </tr>
          {{/ifc}}
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  <div class="tab-pane container-fluid" id="SID">
    <br>
    <br>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th width="50%">Item</th>
            <th width="40%">Price</th>
            <th width="50%">Description</th>
            <th width="50%">Ingredients</th>
          </tr>
        </thead>
        <tbody>
        {{#each items}}
          {{#ifc this.item_course '==' 'SID'}}
            <tr>
              <td><img src=""></td>
              <td>{{this.item_name}}</td>
              <td>{{this.item_price}}</td>
              <td>{{this.item_description}}</td>
              <td>{{this.item_ingredients}}</td>
              <td></td>

              <td></td>
              <td><a href="/admin/menu/update/{{this.item_name}}" class="btn btn-warning">Edit</a></td>
              <td><a href="/admin/menu/delete/{{this.item_name}}" class="btn btn-danger">Delete</a></td>
            </tr>
          {{/ifc}}
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  <div class="tab-pane container-fluid" id="SAL">
    <br>
    <br>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th width="50%">Item</th>
            <th width="40%">Price</th>
            <th width="50%">Description</th>
            <th width="50%">Ingredients</th>
          </tr>
        </thead>
        <tbody>
        {{#each items}}
          {{#ifc this.item_course '==' 'SAL'}}
            <tr>
              <td><img src=""></td>
              <td>{{this.item_name}}</td>
              <td>{{this.item_price}}</td>
              <td>{{this.item_description}}</td>
              <td>{{this.item_ingredients}}</td>
              <td></td>

              <td></td>
              <td><a href="/admin/menu/update/{{this.item_name}}" class="btn btn-warning">Edit</a></td>
              <td><a href="/admin/menu/delete/{{this.item_name}}" class="btn btn-danger">Delete</a></td>
            </tr>
          {{/ifc}}
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>


  </div>