<div class="form-sm">
<h1 class="display-4">Update Menu (Admin)</h1>

<form method="POST" action="">
    <div class="form-group">
        <label for="name">Item name</label>
        <input type="text" class="form-control" name="item_name" value="{{item_name}}" required>
    </div>
    <div class="form-group">
        <label for="name">Price</label>
        <input type="text" class="form-control" name="item_price" value="{{item_price}}" required>
    </div>
    <div class="form-group" style="width:40%">
        <label for="type">Category</label>
        <select name="category_no" id="category_no" class="form-control">
            {{#each categories}}
            <option class="cat-option" value="{{this.category_no}}">{{this.category_name}}</option>
            {{/each}}
        </select>
    </div>
    <div>
        <div class="form-group">
        <label for="name">Description</label>
        <input type="text" class="form-control" name="item_description" value="{{item_description}}" required>  
        </div>
    </div>
    <div>
        <label for="name">Image</label>
        <input type="text" class="form-control" name="item_image" value="">  
    </div>
    <!-- Checkboxes for selecting food on the menu that needs the new supply --> 
    <div class="form-group">
        <label>Ingredients required</label>
        <table>
            {{#each checkboxes_list}}
                <tr class="category-heading">
                    <td colspan="5">
                        <p><strong>{{ @key }}</strong></p>
                    </td>
                </tr>
                
                {{#each this}}
                    <tr>
                    {{#each this}}
                        {{#ifIn this.item_name ../../../item_ingredients_list}}
                            <td>
                                <label><input type="checkbox" name="Ingredients" value="{{this.item_name}}" checked>
                                    {{this.item_name}}&nbsp&nbsp    
                                </label>
                            </td>
                        {{else}}
                            <td>
                                <label><input type="checkbox" name="Ingredients" value="{{this.item_name}}">
                                    {{this.item_name}}&nbsp&nbsp    
                                </label>
                            </td>
                        {{/ifIn}}
                    {{/each}}  
                    </tr>
                {{/each}}
            {{/each}}
        </table>
    </div>
    <input type="hidden" id="uuid" name="uuid" value="{{uuid}}">

    <a href="/admin/menu/" class="btn btn-danger">Back</a>
    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
</div> 
