<style>
    .card.card-stats {
        margin-bottom: 20px;
    }

    .floater {
      float:right;
    }
    
</style>

<div class="container">
  
    <div class="row">
        <div class="col-md-6 page-header">
            <h1 class="page-title">Dashboard</h1>
        </div>

        <div class="col-md-6 page-header">
          <a class="btn btn-warning floater" href="#">
              Show Graphs
          </a>
        </div>

    </div>

    <div class="header pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <br>

          <h3>Statistics</h3>
          <!-- Card stats -->
          <div class="row">

            <div class="col-xl-4 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Revenue</h5>
                      <span class="h2 font-weight-bold mb-0">$5392</span>
                    </div>
                    <div class="col-auto">
                        
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-xl-4 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total Orders</h5>
                      <span class="h2 font-weight-bold mb-0">210</span>
                    </div>
                    <div class="col-auto">
                        
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Store Entries</h5>
                      <span class="h2 font-weight-bold mb-0">{{entryCount}}</span>
                    </div>
                    <div class="col-auto">

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <h3>Feedbacks</h3>
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-6 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Positive</h5>
                      <span class="h2 font-weight-bold mb-0">{{positiveFeedback}}</span>
                    </div>
                    <div class="col-auto">
                        
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-xl-6 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Negative</h5>
                      <span class="h2 font-weight-bold mb-0">{{negativeFeedback}}</span>
                    </div>
                    <div class="col-auto">
                        
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <h3>Accounts</h3>
          <!-- Card stats -->
          <div class="row">
            
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total Users</h5>
                      <span class="h2 font-weight-bold mb-0">{{userCount}}</span>
                    </div>
                    <div class="col-auto">

                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Verified Users</h5>
                      <span class="h2 font-weight-bold mb-0">{{verifiedUserCount}}</span>
                    </div>
                    <div class="col-auto">

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total Admins</h5>
                      <span class="h2 font-weight-bold mb-0">{{supplierCount}}</span>
                    </div>
                    <div class="col-auto">

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total Suppliers</h5>
                      <span class="h2 font-weight-bold mb-0">{{supplierCount}}</span>
                    </div>
                    <div class="col-auto">
                        
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

</div>