<style>
  #default > div{
    width: 30%;
    border: 2px solid lightslategray;
    padding: 5px;
}

  
# paymentForm {
    margin: auto;
    margin-bottom: 1.5cm;
    width: 60%;
    border: 2px solid lightslategray;
    padding: 5px;
}

p {
    margin: 0;
}

</style>
<h1 class="display-4">Order details</h1>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th width="50%">Item</th>
      <th width="50%">Price</th>
      <th width="50%">Quantity</th>
    </tr>
  </thead>
  <tbody id="cart">
    {{#each cart}}
      <tr>
          <td width="50%">{{this.cart_item_name}}</td>
          <td width="50%">{{this.cart_item_price}}</td>
          <td width="50%">{{this.cart_item_quantity}}</td>           
      </tr>
    {{/each}}
    {{#each cart_prizes}}
      {{#each this}}
          <tr class="cartDay{{this.day_no}}">
            <td width="50%">{{this.cart_item_name}}</td>
            <td width="50%">{{this.cart_item_price}}</td>
            <td width="50%">{{this.cart_item_quantity}}</td>
            {{#if this.len}}           
            <td rowspan="{{this.len}}"><button onclick="deleteReward({{this.day_no}});" class="btn btn-danger">Delete</a></td> 
            {{/if}}
          </tr>
      {{/each}}
    {{/each}}
  </tbody>
</table>    

  <div style="float: right;">
    <pre><p>Subtotal            S$ {{subtotal}}</p></pre>
    <pre><p>Delivery Fee        S$ {{deliveryFee}}</p></pre>
    <pre><P><b>Total               S$ {{total}}</b></P></pre>
  </div>

<div id="default" style="display: block;">
  <h2 class="display-5" style="padding-top: 5cm; padding-right: 35px; padding-bottom: 10px; display:inline-block;">Delivery address</h2>
  <button class="btn btn-warning" style="floatright" id='editD' onclick="hideDisplay('default', 'addressForm')">Edit</button>
  <div>
    <p>{{username}}</p>
    <p>(+65) {{address.PhoneNo}}</p>
    <p>{{address.Address}}</p>
    <p>{{address.Country}}, {{address.PostalCode}}</p>
  </div>
</div>


<form method="POST" action="">
  <div id='addressForm' style="display: none;">
    <h2 class="display-5" style="padding-top: 5cm;">Delivery address</h2>
    <button type="button" class="btn btn-warning" style="floatright" id='editD' onclick="hideDisplay('addressForm', 'default')">Default</button>

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" value="{{username}}" required>
    </div>
    <div class="form-group">
        <label for="name">Phone No.</label>
        <input type="text" class="form-control" name="phone" value="{{address.PhoneNo}}" required>
    </div>
    <div class="form-group">
        <label for="name">Address</label>
        <input type="text" class="form-control" name="address" value="{{address.Address}}" required>
    </div>
    <div class="form-group">
        <label for="name">Postal Code</label>
        <input type="text" class="form-control" name="postal" value="{{address.PostalCode}}" required>
    </div>
  </div>

  <div class="form-group" id="paymentForm">
    <h2 class="display-5" style="padding-top:2cm;">Payment method</h2>
    <select id="payment" name="payment">
      <option value="paypal">PayPal</option>
      <option value="netsQr" selected>Nets QR</option>
    </select>
  </div>

</form>
<div>
  <a class="btn btn-secondary" href="/user/cart">Cancel</a>
  <a class="btn btn-primary btn-submit" href="/user/order/payment">Confirm Order</a>
</div>
  
  
<script>
  	function hideDisplay(a, b) {
		let d = document.getElementById(a);
		d.style.display = "none"; 

		let h = document.getElementById(b);
		h.style.display = "block"; 
	}
</script>